*{
    margin:0;
    padding:0;

}

main{
    background-color: aqua;
    width:100vw;
    height:100vh;
}
.form{
    background-color:cornflowerblue;
    position:absolute;
    width:30%;
    height:25%;
   
text-align: center;
margin-top: 250px;
margin-left:35%;
   
}
.bttn{
    background-color: green;
    margin-top: 15px;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right:20px;


}
.a{
    background-color: red;
}
.contact-input{
    border-radius: 10px;
    padding-left: 10px;
}
